doctype html
html(lang="fr")
  head
    link(rel="stylesheet",href="/css/main.css",type="text/css")
    link(rel="stylesheet",href="https://fonts.googleapis.com/css?family=Roboto",type="text/css")
    title 
        | MutualBack-SRV
body
    #window
        h1 
            | Bienvenue sur le serveur 
            strong #{name}
        h4 Sites en charge :
        ul
            each val in sites
                li
                    a(href=val)=val
