* {
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: -webkit-linear-gradient(0deg, #16222A 10%, #3A6073 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(0deg, #16222A 10%, #3A6073 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(0deg, #16222A 10%, #3A6073 90%); /* IE10 */
    background:      -o-linear-gradient(0deg, #16222A 10%, #3A6073 90%); /* Opera 11.10+ */
    background:         linear-gradient(0deg, #16222A 10%, #3A6073 90%); /* W3C */
    font-family: Roboto;
}

#window {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
    #window h1 {
        color: #FFF;
    }
        #window h1 strong {
            color: #D4E157;
            font-style: italic;
        }
    #window h4 {
        color: #D4E157;
    }
    #window ul {
        color: #FFF;
        margin-top: 20px;
        width: 300px;
    }
        #window ul li {
            list-style: none;
            height: 30px;
            font-family: roboto;
            background: #FFF;
            color: #333;
        }
            #window ul li:hover {
                background: #000;
                color: #FFF;
                cursor: pointer;
            }
            #window ul li a {
                color: inherit;
                text-decoration: inherit;
                height: inherit;
                padding: 0 10px;
                display: flex;
                align-items: center;
            }
            #window ul li + li {
                margin-top: 5px;
            }
